
.principal{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    font-family: montserrat;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
    line-height: 0.9;

}



.text{
    font-family: 'Raleway', sans-serif !important;
    font-size: 33px !important; 
    font-weight: 900;

}


.wrapper span{
    position: fixed;
    top: -120px;
    height: 50px;
    width: 50px;
    z-index: -1;
    animation: animate 10s linear infinite;    
}
.wrapper span:nth-child(1){
    left: 60px;
    animation-delay:0.6s;
    border: 5px solid cyan;
}
.wrapper span:nth-child(2){
    left: 60%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
    background: #ff4293;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
    border: 5px solid #f73f3f;    
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
    background: #befb46;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
    border: 5px solid #ff4293;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
    border: 5px solid deepskyblue;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
    background: #ffd59e;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
    border: 5px solid #befb46;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
    background: cyan;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
    border: 5px solid #55bb3c;    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.contents h2{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    font-family: montserrat;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    line-height: 0.9;
}
.contents h2 b{
    -webkit-text-fill-color: transparent;
    font-size: 65px;
}
@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        transform: translateY(800px) rotate(360deg);
        opacity: 0;
    }
}

.btnprinc{
    text-decoration: none;
    color: black;
    padding: 5px 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    border-radius: 25px;
    max-width: 600px; /* ajustar el ancho máximo según sea necesario */
  position: relative;
  transform: translateX(-50%);
}

.princic{
    background: radial-gradient(circle,#24246e,#06051f);
    height: 100vh;
}

.textdir{
    font-size: 28px;
    text-align: justify;
 
}

.princip{
background-color: #b4ebf5; 
padding: 60px 0px; 
font-family: 'Raleway', sans-serif;
}

.textito{
    font-size: 20px;
}


.title{
    font-weight: bolder;
}
.bio{

        padding: 70px 30px !important;
        background-color: #003057;
        font-family: 'Raleway', sans-serif !important;
    
    
}

.ftext{
    color: white;
    font-family: 'Raleway', sans-serif;

}


.center{
    text-align: center;
}

.containers ul, .containers li {
    list-style: none;
    padding: 0;
}
.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-family: 'Raleway', sans-serif !important;

    padding: 3rem 0;
}
.wrappers {
    background: #eaf6ff;
    padding: 2rem;
    border-radius: 15px;
    width: 72%;

}
.containers h1 {
    font-size: 1.1rem;
    font-family: sans-serif;
}
.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}
.containers li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}
.containers li:last-child {
    border: 0px;
    padding-bottom: 0;
}
.containers li:before {
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}
.time {
    color: #2a2839;
    font-size: 30px !important;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
@media screen and (min-width: 601px) {
    .time {
        font-size: 0.9rem;
   }
}
@media screen and (max-width: 600px) {
    .time {
        margin-bottom: 0.3rem;
        font-size: 0.85rem;
   }
}
.containers p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0.4rem;
    font-family: 'Raleway', sans-serif;;
    font-size: 20px;

}
@media screen and (max-width: 600px) {
    .containers  p {
        font-size: 0.9rem;
   }
}



.btninicio{
    

  padding: 9px 17px;
  border: none;
  border-radius: 125px;
  background-color: #30ccd6;
  font-size: 24px;
}

.misionvision{
    background-color: #DBCD12;
    font-family: 'Raleway', sans-serif;
}

.textp{
    font-size: 20px;
    font-weight: bold;
}

.mvt{
    font-size: 60px;
}

/* la del index 2 */


.carousel{
    height: 600px; 
    perspective: 250px;    
    font-family: 'Raleway', sans-serif;
    padding: 100px;
    
}

.carousel-item{
    padding: 0 0 30px 0;
}
.carousel .carousel-item {
    margin-top: 5px;
	width: 800px;
	background: #fff;
	height: auto;
    text-align: center;
    color: black !important;
    border-radius: 20px;
    background-image: url(img/logometas.png);

}
.img-area {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	border: inset 8px deepskyblue;
}
.img-area img{
            width: 100%;
 }

 .thing{
    font-size: 24px;
 }

 .metas{
 font-family: 'Raleway', sans-serif;;
 }


 .backj{
    background-color: black;
    color: white;
    z-index: 99;
    position: relative;
 }


 #particles-js{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: -1;
 }

 .estra{
    background-color: #FD7065;

 }


.wrapperda{
    min-height: 60vh;
    background-color: #00112c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    margin: 20px 43px;
}
.single-box{
    width: 350px;
    height: 350px;
    perspective: 1200px;
}
.box-content{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-175px);
    transition: all 1s;
}
.sides{
    position: absolute;
    width: 350px;
    height: 350px;
    text-align: center;
}
.side-1{
    transform: rotateY(0deg) translateZ(175px);
    z-index: 2;
    background-size: cover;
    background-position: center center;
}
.side-2{
    color: #fff;
    background-color: #e2535d;
    transform: rotateY(90deg) translateZ(175px);
}
.side-3{
    color: #fff;
    background-color: #68db58;
    transform: rotateY(90deg) translateZ(175px);
}
.side-4{
    color: #fff;
    background-color: #e5aa56;
    transform: rotateY(90deg) translateZ(175px);
}
.side-5{
    color: #fff;
    background-color: #10c1c3;
    transform: rotateY(90deg) translateZ(175px);
}
.box:hover .box-content{
    transform: translateZ(-150px) rotateY(-90deg);
}
.content{  

    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content h2{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bolder !important;
}
.content p{
    font-size: 16px;
    text-align: left;
    font-weight: bold !important;
}
.socials{
    margin-top: 30px;
}
.socials i{
    margin: 0 15px;
}

@media (max-width:1450px){
    .wrapperda{
        flex-direction: column;
    }
}


.colorsa{
    background-color: #00112c;
}

.fuente{
    font-family: 'Raleway', sans-serif;
}
/* */

.wrappero {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: -18%;
	margin: auto;
    font-family: 'Raleway', sans-serif;;
}
.boxo {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100%;
	bottom: 0;
	background: linear-gradient(to bottom, #ee0979, #ff6a00);
	z-index: 5;
}

.logo {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
}
.bannero {
	position: absolute;
	z-index: 99;
	left: 50%;
	transform: translate(-50%, 25%);
	text-align: center;
}

.bannero a {
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
}
.single-boxo {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
	background-size: 50% 80px;
	animation: animate2 18s linear infinite;
}
@keyframes animate2 {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1);
	}
	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.55)
	}
	100% {
		transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}




.btnprinc2{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 8px 14px;
    border-radius: 100px;
}

.navbar{
    background-color: white;
}

.bannere h2 {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}
.bannere p {
	color: #fff;
	font-size: 20px;
	line-height: 1.9;
}

.finalimg{
width: 30%; height: auto; display: block; margin: auto;
}

@media (max-width:1020px){
    .finalimg{
        width: 20% !important;
    }
}

@media (max-width:900px){
    .finalimg{
        width: 10% !important;
    }
}

.listgroupimg{
    border-radius: 50%;
    display:inline-block;
}